# Папки и файлы, создаваемые Visual Studio Code
bin/
obj/

# Папки и файлы, хранящие непубличные данные
appsettings.Development.json
appsettings.Production.json
# deploy.sh
# NotAPidorBot.service

# Папки и файлы, создаваемые Visual Studio Code
.vscode/
.history/
*.code-workspace

# Конфигурационные файлы для macOS
.DS_Store
.AppleDouble
.LSOverride