[Unit]
Description=NotAPidorBot
[Service]
WorkingDirectory=/path/to/your/app
ExecStart=/usr/bin/dotnet /path/to/your/app/YourApp.dll
Restart=always
RestartSec=10
SyslogIdentifier=notapidorbot
User=www-data
Environment=DOTNET_ENVIRONMENT=Production
[Install]
WantedBy=multi-user.target